<link rel="stylesheet" href="/pages/history.css">
<link rel="stylesheet" href="/pages/setting.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>
    *{
        margin: 0;
        padding: 0;
    }
    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate label {
      font-size: 25px;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }

    /* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
</style>

<div class="history">
    <div class="group-25">          
        <div class="left-arrow-1">
          {{!-- <a href="/customer/logout">
            <img style="width: 30px; height: 25px;" src="../assets/vectors/logout.svg" />
          </a> --}}
        </div>

        <h2 class="page-title">History</h2>
        
        <div class="left-arrow-1">
        </div>
      </div>
    {{!-- <div class="empty-space">
    </div> --}}
    <div class="time-list">
        {{#each activities}}
            <div class="activity"> 
                {{!-- row 1 --}}
                <div class="container-3">
                    <div class="activity-title"> {{this.formattedDateTime}} </div> 
                    {{!-- <div class="activity-title">31-10-2019 16:36 </div>  --}}
                    <div class="activity-title money"> {{this.fee}}vnđ</div>
                </div>

                <div class="line-13"></div>

                {{!-- row 2 --}}
                <div class="container-3">
                    <div class="group-78 pickup_location">
                        <div class="group-262">
                            <div class="ellipse-23"></div>
                            <img class="rectangle-203" src="../assets/vectors/rectangle2011_x2.svg"/>
                        </div>
                        <span class="text"> {{this.start}}</span>
                    </div>
                
                    <div class="group-78 destination">
                        <div class="navigation-1">
                            <img class="vector-2" src="../assets/vectors/vector12_x2.svg" />
                        </div>
                        <span class="text"> {{this.destination}}</span>
                    </div>     
                </div>

                <div class="line-13"></div>

                <div class="container-3" style="display: flex; justify-content: space-around;">
                  <div class="rate">
                      {{#if this.rating}}
                        <label for="star5" title="text" style="color: #c59b08;">{{this.rating}} stars</label>
                        {{else}}
                        <label for="star5" title="text" style="color: #343b71;">No rating</label>
                      {{/if}}
                  </div> 
                </div>

                <div class="line-13"></div>

                {{!-- row 3 --}}
                <div class="container-3">
                    <div class ="detail" onclick="toggleDetailSection(this)">
                        <span class="text" style="text-decoration: underline;">Detail</span>
                        <span style = "font-size:36px;"> &triangledown;</span>
                    </div>
                </div>

                {{!-- row 4 --}}
                <div class="container-3">
                    <div class ="detail-section">
                        <span class="text"> Driver</span>
                        <span class="text"> Fullname: {{this.driverId.fullname}}</span>
                        <span class="text"> Username: {{this.driverId.username}}</span>
                        <span class="text"> Vehicle: {{this.vehicle}}</span>
                    </div>
                </div>
            </div> <!-- activity -->  
    
        {{/each}}
    </div> <!-- time-list-->
</div> <!-- history -->

<script>

    function toggleDetailSection(detail){
        let nextContainer = detail.closest('.container-3').nextElementSibling;
        let detailSection = nextContainer.querySelector('.detail-section');
        if (detailSection){
            if (detailSection.style.display==='flex'){
                detailSection.style.display = 'none';
            } else {
                detailSection.style.display = 'flex';
            }   
        }         
            
    }
</script>