<link rel="stylesheet" href="/pages/setting.css">

<div class="setting">
      <div class="group-25">
        <div class="left-arrow-1">
          <a href="/driver/logout">
            <img class="vector" src="../assets/vectors/vector21_x2.svg" />
          </a>
        </div>
        <h2 class="setting-1">Profile</h2>
        <a href="/driver/update-profile">
            <span style="text-decoration: none; color: white; font-size: 20px;">Update</span>
          </a>
      </div>
      <div class="container">
        <div style="display: flex; align-items: center; flex-direction: column">
          <p class="infomation-box-title">Personal information</p>
          <div class="infomation-box">
            <div class="group-104">
              <span class="phone-number">Fullname</span>
              <div class="group-103">
                <span class="container-1">{{user.fullname}}</span>
              </div>
            </div>
            <div class="group-104">
              <span class="phone-number"> ID Number </span>
              <div class="group-103">
                <span class="container-1">{{user.IDnumber}}</span>
              </div>
            </div>
            <div class="group-104">
              <span class="phone-number"> Email </span>
              <div class="group-103">
                <span class="container-1">{{user.email}}</span>
              </div>
            </div>
            <div class="group-104">
              <span class="phone-number"> Phone Number </span>
              <div class="group-103">
                <span class="container-1">{{user.tel}}</span>
              </div>
            </div>
            <div class="group-104">
              <span class="phone-number"> Day of birth </span>
              <div class="group-103">
                <span class="container-1">{{user.dob}}</span>
              </div>
            </div>
          </div>
        </div>
        
        <div style="display: flex; align-items: center; flex-direction: column">
          <p class="infomation-box-title">Vehicle infomation</p>
          <div class="infomation-box">
            <div class="group-104">
              <span class="phone-number"> Type </span>
              <div class="group-103">
                <span class="container-1">{{user.vehicle}}</span>
              </div>
            </div>
            <div class="group-104">
              <span class="phone-number"> License plate </span>
              <div class="group-103">
                <span class="container-1">{{user.plate}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="group-104">
          <span class="phone-number"> Username </span>
          <div class="group-103">
            <span class="container-1">{{user.username}}</span>
          </div>
        </div>
        {{!-- <div class="group-105">
          <span class="call"> Call </span>
          <div class="on">
            <div class="ellipse-14"></div>
          </div>
        </div>
        <div class="group-106">
          <span class="notification"> Notification </span>
          <div class="off">
            <div class="ellipse-141"></div>
          </div>
        </div> --}}
        {{!-- <div class="group-107">
          <span class="favorite-address"> Favorite Address </span>
          <div class="group-1031">
            <span class="mozart-st"> Mozart St </span>
            <div class="group-1021">
              <img class="line-15" src="../assets/vectors/line153_x2.svg" />
            </div>
          </div>
        </div> --}}
        {{!-- <div class="group-108">
          <span class="traffic"> Traffic </span>
          <div class="off-1">
            <div class="ellipse-142"></div>
          </div>
        </div>
        <div class="group-109">
          <span class="language"> Language </span>
          <div class="group-1032">
            <span class="english"> English </span>
            <div class="group-1022">
              <img class="line-151" src="../assets/vectors/line15_x2.svg" />
            </div>
          </div>
        </div> --}}
      </div>
    </div>